<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="CHALLENGE VIDEO">
  <ion-content class="padding">

    <video id="my-video" class="video-js" controls autoplay="true" preload="auto" width="640" height="264"
           poster="https://s3.eu-central-1.amazonaws.com/challengebox/a.jpg" data-setup="{}">
      <source src="https://s3.eu-central-1.amazonaws.com/myfiles.myvideos/ostad.mp4" type='video/mp4'>

    </video>
  </ion-content>
</ion-view>
