<ion-view view-title="Login" align-title="left">
  <ion-content style="background: url(img/login.jpg) center; background-size: cover;">
    <form id="list" ng-controller="signinCtrl" ng-submit="submitForm()">
      <div class="hero no-header flat">
        <div class="content">
          <div class="app-icon"></div>
          <h1>CHALLENGE BOX</h1>
        </div>
      </div>
      <div class="list">
        <ion-md-input placeholder="Username" ng-model="form.username" highlight-color="balanced" type="text"></ion-md-input>
        <ion-md-input placeholder="Password" ng-model="form.password" highlight-color="energized" type="password"></ion-md-input>
      </div>
      <div class="padding">
        <button ng-click="doSignIn()" class="button button-full button-assertive ink">Login</button>
        <button ui-sref="signup" class="button button-full button-calm-900 ink">Create New Account</button>
      </div>
    </form>
  </ion-content>
</ion-view>
