<ion-view view-title="Chats">
  <ion-content>
    <tab-slide-box>
      <div class="tsb-icons">
        <div class="tsb-ic-wrp">
          <ion-scroll direction="x" class="tsb-hscroll">
            <a href="javascript:;" class="ion-home1">TopWeek</a>
            <a href="javascript:;" class="ion-ios-game-controller-b1">TopMonth</a>
            <a href="javascript:;" class="ion-email1">New</a>
            <a href="javascript:;" class="ion-model-s1">TopAll</a>
            <a href="javascript:;" class="ion-person1">Top User</a>
            <a href="javascript:;" class="ion-heart1">Top Day</a>
            <a href="javascript:;" class="ion-chatbubbles1">Trends</a>
            <a href="javascript:;" class="ion-gear-b1">Award</a>
          </ion-scroll>
        </div>
      </div>
      <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
        <ion-slide>
          <h3>Home content</h3>
        </ion-slide>
        <ion-slide>
          <h3>Games content</h3>
        </ion-slide>
        <ion-slide>
          <h3>Mail content</h3>
        </ion-slide>
        <ion-slide>
          <h3>Car content</h3>
        </ion-slide>
        <ion-slide>
          <h3>Profile content</h3>
        </ion-slide>
        <ion-slide>
          <h3>Favourites content</h3>
        </ion-slide>
        <ion-slide>
          <h3>Chats content</h3>
        </ion-slide>
        <ion-slide>
          <h3>Settings content</h3>
        </ion-slide>
      </ion-slide-box>
    </tab-slide-box>
  </ion-content>
</ion-view>
