<ion-view view-title="Tops">
  <ion-content>
    <tab-slide-box>
      <div class="tsb-icons">
        <div class="tsb-ic-wrp">
          <ion-scroll direction="x" class="tsb-hscroll">
            <a href="javascript:;" class="ion-home1">TopWeek</a>
            <a href="javascript:;" class="ion-ios-game-controller-b1">TopMonth</a>
            <a href="javascript:;" class="ion-email1">Top New</a>
            <a href="javascript:;" class="ion-model-s1">Top All</a>
            <a href="javascript:;" class="ion-person1">Top User</a>
            <a href="javascript:;" class="ion-heart1">Top Day</a>
          </ion-scroll>
        </div>
      </div>
      <ion-slide-box show-pager="false"  on-slide-changed="slideHasChanged($index)">
        <ion-slide>
          <ion-list>
            <ion-item class="item-thumbnail-left" href="#/page7" ng-repeat="item in items">
              <img src="../img/adam.jpg">
              <h2>Title</h2>
              <p>{{item}}</p>
            </ion-item>

          </ion-list>
        </ion-slide>
        <ion-slide>
          <ion-list>
            <ion-item class="item-thumbnail-left" href="#/page7" ng-repeat="item in items">
              <img src="../img/adam.jpg">
              <h2>Title</h2>
              <p>{{item}}</p>
            </ion-item>

          </ion-list>
        </ion-slide>
        <ion-slide>
          <ion-list>
            <ion-item class="item-thumbnail-left" href="#/page7" ng-repeat="item in items">
              <img src="../img/adam.jpg">
              <h2>Title</h2>
              <p>{{item}}</p>
            </ion-item>

          </ion-list>
        </ion-slide>
        <ion-slide>
          <ion-list>
            <ion-item class="item-thumbnail-left" href="#/page7" ng-repeat="item in items">
              <img src="../img/adam.jpg">
              <h2>Title</h2>
              <p>{{item}}</p>
            </ion-item>

          </ion-list>
        </ion-slide>
        <ion-slide>
          <ion-list>
            <ion-item class="item-thumbnail-left" href="#/page7" ng-repeat="item in items">
              <img src="../img/adam.jpg">
              <h2>Title</h2>
              <p>{{item}}</p>
            </ion-item>

          </ion-list>
        </ion-slide>
        <ion-slide>
          <ion-list>
            <ion-item class="item-thumbnail-left" href="#/page7" ng-repeat="item in items">
              <img src="../img/adam.jpg">
              <h2>Title</h2>
              <p>{{item}}</p>
            </ion-item>

          </ion-list>
        </ion-slide>
        <ion-slide>
          <ion-list>
            <ion-item class="item-thumbnail-left" href="#/page7" ng-repeat="item in items">
              <img src="../img/adam.jpg">
              <h2>Title</h2>
              <p>{{item}}</p>
            </ion-item>

          </ion-list>
        </ion-slide>
        <ion-slide>
          <ion-list>
            <ion-item class="item-thumbnail-left" href="#/page7" ng-repeat="item in items">
              <img src="../img/adam.jpg">
              <h2>Title</h2>
              <p>{{item}}</p>
            </ion-item>

          </ion-list>
        </ion-slide>
      </ion-slide-box>
    </tab-slide-box>
  </ion-content>
</ion-view>
